
<!-- Background image -->
<div id="intro" class="bg-image shadow-2-strong h-100">
  <div class="mask h-100" style="background-color: rgba(0, 0, 0, 0.8);">
    <div class="container d-flex align-items-center justify-content-center text-center h-100">
      <div class="text-white" data-bs-theme="dark">
        <h1 class="mb-3">Nice To Meet You !</h1>
        <h5 class="mb-4">Log in to discover protected contenu !</h5>
        <a class="btn btn-outline-light btn-lg m-2" href="/login" role="button"
           rel="nofollow" target="_blank">discover</a>
        <a class="btn btn-outline-light btn-lg m-2" href="" target="_blank"
           role="button">About</a>
      </div>
    </div>
  </div>
</div>
<!-- Background image -->
